<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consulta Clientaes</title>
</head>
<body>

<h1>Lista clientes</h1>


<table border="1">
    <thead>
        <tr>
            <th>Id del cliente</th>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
  
        <tr th:each="cliente : ${clientes}">
            <td th:text="${cliente.id}"></td>
            <td th:text="${cliente.nombre}"></td>
            <td th:text="${cliente.email}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>
